# Ignore all files by default
*

# Keep directories visible so we can unignore their contents later
!*/

!.gitignore

# Unignore these directories (recursively)
!/shell/**
!/ghostty/**
!/oxker/**
!/slumber/**
!/nvim/**
